@import "~fontsource-roboto/index.css";

$base-color: #00ccff;

.bg-1 {
  background-color: $base-color;
}

.bg-2 {
  background-color: scale-color($base-color, $lightness: 40%);
}

.bg-3 {
  background-color: scale-color($base-color, $lightness: 80%);
}

.bg-grey {
  background-color: #f4f4f4;
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.p-2 {
  padding: .5rem;
}

.margin-between:not(:last-child) {
  margin-bottom: .5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
